<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Rodrigo - Test Management Helper</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
		<script src="ckeditor/ckeditor.js"></script>
		<script src="ckeditor/adapters/jquery.js"></script>
		<script src="js/main.js"></script>
	</head>
	<body>
		<div id="content_wrap">
			<div id="content" class="clearfix">
				<div id="header">
					<h1 id="logo">Rodrigo</h1>
					<ul>
						<% if @registered %>
						<li><a href="/logout" class="highlighted">Log out</a></li>
						<li><p id="welcome">Welcome <%= @name %> |</li>
						<% else %>
						<li>You are not logged in</li>
						<% end %>
					</ul>
				</div>
				<div id="navigation">
					<ul class="ca-menu">
						<% if @registered %>
						<li>
							<a href="#">
								<span class="ca-icon">F</span>
								<div class="ca-content">
									<h2 class="ca-main">Projects</h2>
									<h3 class="ca-sub">Manage projects and releases</h3>
								</div>
							</a>
						</li>
						<li>
							<a href="/test_case">
								<span class="ca-icon">p</span>
								<div class="ca-content">
									<h2 class="ca-main">Test Cases</h2>
									<h3 class="ca-sub">Add a new test case</h3>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="ca-icon">S</span>
								<div class="ca-content">
									<h2 class="ca-main">Settings</h2>
									<h3 class="ca-sub">Manage your account</h3>
								</div>
							</a>
						</li>
						<% else %>
						<li>
							<a href="/auth/google">
								<span class="ca-icon">g</span>
								<div class="ca-content">
									<h2 class="ca-main">Register</h2>
									<h3 class="ca-sub">Register with your Google account</h3>
								</div>
							</a>
						</li>
						<li>
							<a href="/auth/google">
								<span class="ca-icon">U</span>
								<div class="ca-content">
									<h2 class="ca-main">Log In</h2>
									<h3 class="ca-sub">Log in with your Google account</h3>
								</div>
							</a>
						</li>
						<% end %>
					</ul>
				</div>
			</div>

		</div>
	</body>
</html>