<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Proba</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<a href="/auth/google">Register with your Google account</a><br/>
</body>
</html>
