﻿<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Add New Test Case</title>
			<link rel="stylesheet" type="text/css" href="css/reset.css" />
			<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" type="text/css" href="css/style.css" />
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
			<script src="ckeditor/ckeditor.js"></script>
			<script src="ckeditor/adapters/jquery.js"></script>
			<script src="js/main.js"></script></head>
	<body>
		<div id="content_wrap">
			<div id="content" class="clearfix">
				<div id="header">
					<h1 id="logo">Rodrigo</h1>
					<ul>
						<% if @registered %>
						<li><a href="/logout" class="highlighted">Log out</a></li>
						<li><a href="/" class="highlighted">Home</a> |</li>
						<li><p id="welcome">Welcome <%= @name %> |</li>
						<% else %>
						<li>You are not logged in</li>
						<% end %>
					</ul>
				</div>
				<div id="test_right">
					<div id="test_form">
						<h2>Title:</h2>
						<input type="text"/>
						<div class="column_left">
							<h3>Steps:</h3>
							<textarea name="steps" id="steps" class="editor"></textarea>
						</div>
						<div class="column_right">
							<h3>Expected results:</h3>
							<textarea name="expected" id="expected" class="editor"></textarea>
						</div>
						<h3>Note:</h3>
						<textarea name="note" id="note" class="editor"></textarea>
					</div>
				</div>
				<div id="test_left">
					<h2>Test cases:</h2>
				</div>
			</div>
		</div>
	</body>
</html>
